	.bgcolour{
		background-color:#1C6295;
	}


	.thirdrdpart{
		background-color: #1C6295;
		 color: white; "
		}

	.wordcolour{
		color: #1C6295;
	}

	.logo-part {
	    border-right: 2px solid white;
	    height: 100%;

	    }





	    .footer-dark {
	  padding:50px 0;
	  color:#f0f9ff;
	  background-color:#282d32;
	}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark{
	background-color:#1C6295;
}
.mybtn{
	border-color: white;
	background-color: #1C6295;
	color: white;
}











.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
  outline: none;
}



.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.8;
  font-size:13px;
  margin-bottom:0;
}
